body {
  text-align: center;
}

#button-interface button {
  margin: 5px;
}

#button-interface {

}

#grid {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.row {
  font-size: 0;
  background-color: white;
}

.gridItem {
  /*background-color: rgb(245, 245, 245);*/
  background-color: black;
  opacity: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.gridItem:hover {

}

#interface {
  background: red;
  border: 3px solid darkred;
  border-radius: 5px;
}
