body {
  text-align: center;
}

h1 {
  /* Color Name: Old Gold */
  color: rgb(201, 176, 55);
}

.turn-circles {
  background-color: white;
  height: 75px;
  width: 75px;
  border-radius: 32px;
  color: white;
  display: inline-block;
  margin-top: 10px;

}

#turn-circles-right {
  margin-left: 700px;
}

#button-interface button {
  margin: 5px;
}

#button-interface {

}

#grid {
  width: 700px;
  height: 500px;
  margin: 0 auto;
}

.row {
  font-size: 0;
  background-color: white;
}

.gridItem {
  /*background-color: rgb(245, 245, 245);*/
  background-color: black;
  opacity: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.gridItem:hover {

}

#interface {
  background: red;
  border: 3px solid darkred;
  border-radius: 5px;
  width: 1000px;
  height: 725px;
  margin: 0 auto;
}
